<div class="bg-dark text-light" style="text-align: center;">
  <footer class="py-0" style="text-align: center;">
    <div class="row" style="text-align: center;">
    <div class="py-1 m-auto border-top" style="text-align: center;"> 
      <p style="text-align: center;">&copy; Bread and Wine. All rights reserved.</p>
    </div>
    </div>
  </footer>
</div>