<div class="bodycon">
    <main class="form-signin w-100 m-auto bg-dark text-white rounded">
        <% @elem = "Edit" %>
        <h1 class="h3 mb-3 fw-normal">Edit</h1>
            <%= render 'form' %>
    </main>
</div>