/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require rails_bootstrap_forms
 */

 /* @font-face {
  font-family: 'georgia';
  src: url('../fonts/georgia\ italic.ttf')
} */

 body {
  padding-top: 3.5rem;

 }

 .bodycon { 
    min-height: 75rem;
    padding-top: 5rem;
    background-image: url('background.jpg');
    background-size: 100vw 100vh;
    background-attachment: fixed;
    background-blend-mode:darken;
    overflow-x: hidden;
}

.form-signin {
    max-width: 330px;
    padding: 1rem;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
.conflash {
    padding-top: 2rem;
}

.con {
  padding-top: 1rem;
  margin: auto;
}

.row {
  padding-top: 20px;
  justify-content: center;
}

.how-img img {
  padding: 2%;
  width: 50%;
  display: block;
  margin: auto;
}

.mainDiv {  
  justify-content: center;
  margin: auto;
  padding: 5%;
  /* background-color: #E0E0CC; */

}

.col-md-6 {
  margin: auto;
  position: relative;
  align-items: center;
  justify-content:center;
}

.opacity-75 {
  color: black;
}

.form-signin {
  max-width: 500px;
}

.card-title {
  margin: 0;
}

.fas {
  margin-left: auto; 
}